
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
<h1>Editing wod</h1>

<%= render 'form' %>

<%= link_to 'Show', @wod %> |
<%= link_to 'Back', wods_path %>
    </div>
  </div>
</div>
</div>
</div>
